
body{
    background-color: wheat;
}
h1{
    margin:auto;
    padding:1rem ;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:white;
}
#division{
    margin: 1rem auto;
    max-width: 600px;
    background-color: khaki;
    padding: 2rem;
    border-style: solid;
    border-radius: 0.5rem;
}
#show-series{
    padding: 1rem;
    color:rgb(0, 0, 0);
    font-size:x-large;
    text-align: center;
    margin: 0.5rem auto;
    display: block;
    font-weight: bold;
}
#usr-series{
    margin: auto;
    width: fit-content;

}
#show-random{
    font-size: larger;
    font-weight: bold;
    display: inline;
}
#first-number{
    width: 60px;
    font-weight: bold;   
}
#second-number{
    width: 60px;
    font-weight: bold;
}
#third-number{
    width: 60px;
    font-weight: bold;
}
#usr-button{
    padding: 0.5rem 2rem;
    background-color:rgb(50, 245, 76);
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.5rem;
    margin:0.5rem auto;
    display: block;
}
#score-button{
    padding: 0.5rem 2rem;
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 0.5rem;
    margin:1rem auto;
    display: block;
}
#result-show{
    font-size: larger;
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: center;
}
#score-show{
    font-size: larger;
    font-weight: bold;
    display: block;
    margin: auto;
    text-align: center;
}